@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
body {
  background-color: #FCF9FD; }

header {
  width: 100vw; }
  header .top {
    height: 11vh;
    border-bottom: 1px solid #1E1E1F;
    background-color: #1E1E1F;
    overflow-x: hidden;
    color: #E8E3D3;
    text-align: center;
    width: 100%; }
    @media screen and (max-width: 768px) and (orientation: landscape) {
      header .top {
        height: 20vh; } }
    header .top h1 {
      font-family: "Roboto Mono";
      font-size: 4vh;
      margin: auto;
      padding-top: 2vh; }
      @media screen and (max-width: 768px) and (orientation: landscape) {
        header .top h1 {
          font-size: 10vh; } }
    header .top h3 {
      font-family: "Roboto Mono";
      font-size: 1.5vh;
      margin: auto;
      font-style: italic;
      padding-top: 1vh; }
      @media screen and (max-width: 768px) and (orientation: landscape) {
        header .top h3 {
          font-size: 4vh; } }
  header .bottom {
    height: 3vh;
    width: 100%;
    background-color: #333331;
    padding-top: 2vh;
    transform: translateY(-1vh); }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      header .bottom {
        background: none;
        float: left;
        width: 45%;
        height: 100vh;
        background-color: rgba(30, 30, 31, 0.85);
        position: fixed;
        transform: translateX(-100%); } }
    @media screen and (max-width: 768px) and (orientation: landscape) {
      header .bottom {
        height: 8vh; } }
    header .bottom .burger {
      display: none; }
      @media screen and (max-width: 768px) and (orientation: portrait) {
        header .bottom .burger {
          display: block;
          background: none;
          border: none;
          color: grey;
          float: right;
          font-size: 3.5vh;
          transform: translateX(11vw); } }
    header .bottom ul {
      display: flex;
      width: 60%;
      justify-content: space-between;
      margin-left: 20vw; }
      @media screen and (max-width: 768px) and (orientation: portrait) {
        header .bottom ul {
          display: block;
          width: 60%;
          margin: 10vh 0 0 0; } }
      @media screen and (max-width: 768px) and (orientation: landscape) {
        header .bottom ul {
          transform: translateY(1vh);
          justify-content: space-between; } }
      @media screen and (max-width: 480px) and (orientation: landscape) {
        header .bottom ul {
          width: 80%;
          transform: translateX(-10vw); } }
      header .bottom ul li {
        padding-left: 2vw;
        transform: translateY(-0.5vh); }
        @media screen and (max-width: 768px) and (orientation: portrait) {
          header .bottom ul li {
            margin-top: 10vh;
            line-height: 4vh;
            margin-left: 3.5vw; } }
        header .bottom ul li a {
          text-decoration: none;
          font-family: "Roboto Mono";
          color: #E8E3D3;
          font-size: 2vh;
          background-color: #6B696B;
          padding: 0.5vh;
          border-radius: 0.5vh; }
          @media screen and (max-width: 768px) and (orientation: landscape) {
            header .bottom ul li a {
              padding: 1vh;
              font-size: 4vh; } }
          @media screen and (max-width: 768px) and (orientation: portrait) {
            header .bottom ul li a {
              background: none;
              font-size: 3.5vh;
              font-weight: bold; } }
          header .bottom ul li a:hover {
            background-color: #ADABAD; }
            @media screen and (max-width: 768px) and (orientation: portrait) {
              header .bottom ul li a:hover {
                background: none; } }
  header .show {
    transform: translateX(0%);
    transition: ease-out; }

.main {
  margin-top: 15vh;
  text-align: center; }
  .main h2 {
    font-family: "Roboto Mono";
    font-size: 7vh;
    font-weight: bold; }
  .main h4 {
    font-family: "Roboto Mono";
    font-size: 5vh; }

main {
  width: 100vw; }
  main img {
    margin: 5vh auto auto 44vw;
    height: 20vh;
    border-radius: 15vh; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      main img {
        transform: translateX(-35%); } }
    @media screen and (max-width: 768px) and (orientation: landscape) {
      main img {
        height: 35vh;
        transform: translateX(-3vw); } }
  main h2 {
    margin: auto;
    font-family: "Roboto Mono";
    font-size: 6vh;
    text-align: center;
    margin-top: 6vh;
    text-decoration: underline; }
  main .content {
    display: flex; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      main .content {
        display: block; } }
    main .content .left {
      margin: auto;
      padding: 2vh 2vw;
      margin-top: 5vh;
      width: 30vw;
      font-family: "Roboto Mono"; }
      @media screen and (max-width: 768px) and (orientation: portrait) {
        main .content .left {
          width: 80vw; } }
      main .content .left h3 {
        font-size: 4vh;
        font-weight: bold; }
        @media screen and (max-width: 768px) and (orientation: landscape) {
          main .content .left h3 {
            font-size: 8vh; } }
      main .content .left p {
        font-size: 1.5vh;
        font-style: italic;
        margin-top: 1.5vh;
        line-height: 3vh; }
        @media screen and (max-width: 768px) and (orientation: portrait) {
          main .content .left p {
            font-size: 2vh;
            line-height: 4vh;
            text-align: justify; } }
        @media screen and (max-width: 768px) and (orientation: landscape) {
          main .content .left p {
            font-size: 3vh; } }
    main .content .right {
      margin: auto;
      padding: 2vh 2vw;
      margin-top: 5vh;
      width: 30vw;
      font-family: "Roboto Mono"; }
      @media screen and (max-width: 768px) and (orientation: portrait) {
        main .content .right {
          width: 80vw; } }
      main .content .right h3 {
        font-size: 4vh;
        font-weight: bold; }
        @media screen and (max-width: 768px) and (orientation: landscape) {
          main .content .right h3 {
            font-size: 8vh; } }
      main .content .right ul li {
        font-size: 1.5vh;
        font-style: italic;
        margin-top: 1.5vh;
        line-height: 3vh; }
        @media screen and (max-width: 768px) and (orientation: portrait) {
          main .content .right ul li {
            font-size: 2vh;
            line-height: 5vh; } }
        @media screen and (max-width: 768px) and (orientation: landscape) {
          main .content .right ul li {
            font-size: 3vh;
            line-height: 6vh; } }
        main .content .right ul li a {
          font-style: normal;
          border: 1px solid #1E1E1F;
          background-color: #1E1E1F;
          padding: 0.7vh 0.3vw;
          text-decoration: none;
          color: #E8E3D3;
          border-radius: 1vh; }
          @media screen and (max-width: 768px) {
            main .content .right ul li a {
              background: none;
              border: none;
              color: #1E1E1F;
              text-decoration: underline; } }
          main .content .right ul li a:hover {
            background-color: #E8E3D3;
            color: #1E1E1F; }
            @media screen and (max-width: 768px) and (orientation: portrait) {
              main .content .right ul li a:hover {
                background: none;
                color: #333331; } }

.form {
  display: flex;
  width: 100vw;
  font-family: "Roboto Mono"; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .form {
      display: block; } }
  .form .log {
    margin: 8vh auto auto 20vw;
    width: 30%; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .form .log {
        width: 70%; } }
    .form .log h3 {
      font-size: 4vh;
      font-weight: bold;
      text-decoration: underline;
      margin-bottom: 6vh; }
    .form .log .advertise {
      margin-bottom: 5vh; }
    .form .log input {
      margin-top: 1.5vh;
      margin-bottom: 1.5vh; }
  .form .sign {
    margin: 8vh auto auto 14vw;
    width: 40%; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .form .sign {
        width: 70%;
        margin-bottom: 2vh; } }
    .form .sign h3 {
      font-size: 4vh;
      font-weight: bold;
      text-decoration: underline;
      margin-bottom: 20vh; }
      @media screen and (max-width: 768px) and (orientation: portrait) {
        .form .sign h3 {
          margin-bottom: 5vh; } }
    .form .sign input {
      margin-top: 1.5vh;
      margin-bottom: 1.5vh; }

footer {
  height: 10vh; }

/*# sourceMappingURL=style.css.map */
