@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Gugi");
@keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0 0 40px #fff;
    transform: scale(1.3); }
  20%, 75% {
    opacity: 1;
    text-shadow: 0 0 1px #fff;
    transform: scale(1); }
  100% {
    opacity: 0;
    text-shadow: 0 0 50px #fff;
    transform: scale(0); } }
@keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0 0 40px #fff;
    transform: scale(1.3); }
  50% {
    opacity: 0.5;
    text-shadow: 0 0 10px #fff;
    transform: scale(1.1); }
  100% {
    opacity: 1;
    text-shadow: 0 0 1px #fff;
    trasform: scale(1); } }
@keyframes fadeInBack {
  0% {
    opacity: 0;
    transform: scale(0); }
  50% {
    opacity: 0.4;
    transform: scale(2); }
  100% {
    opacity: 0.2;
    transform: scale(5); } }
@keyframes fadeInRotate {
  0% {
    opacity: 0;
    transform: scale(0) rotate(360deg); }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg); } }
header {
  z-index: 0;
  border-bottom: 2px solid #333331;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #FCF9FD; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    header {
      background-image: url("../pics/backgroundmin.png");
      color: #E8E3D3; } }
  header .navbar {
    display: flex;
    z-index: 10000; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      header .navbar {
        height: 15vh; } }
    header .navbar .title h1 {
      font-family: "Roboto Mono";
      font-size: 3em;
      padding: 2vh; }
      @media screen and (max-width: 768px) and (orientation: portrait) {
        header .navbar .title h1 {
          font-size: 2em;
          padding: 2vh;
          width: 100vw;
          height: 10vh;
          transform: translateX(10vw); } }
      @media screen and (max-width: 768px) and (orientation: landscape) {
        header .navbar .title h1 {
          font-size: 1.5em;
          padding: 1vh;
          width: 100vw;
          height: 5vh; } }
    header .navbar .title h5 {
      font-size: 1em;
      font-family: "Roboto Mono";
      font-style: italic;
      padding-left: 2vh;
      margin-bottom: 3vh; }
      @media screen and (max-width: 768px) and (orientation: portrait) {
        header .navbar .title h5 {
          display: none; } }
      @media screen and (max-width: 768px) and (orientation: landscape) {
        header .navbar .title h5 {
          font-size: 1em;
          margin-top: 1vh; } }

.navMenu {
  z-index: 15000;
  position: absolute;
  top: 1vh;
  left: 20vw;
  width: 30vw; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .navMenu {
      top: 10vh;
      background-color: white;
      width: 50vw;
      height: 90vh;
      display: block;
      position: absolute;
      transform: translateX(-70vw);
      z-index: 10000; } }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    .navMenu {
      transform: translateX(35vw);
      margin-top: -2vh;
      font-size: 0.8em;
      z-index: 10000; } }
  .navMenu .menu {
    display: flex;
    margin-top: 6vh;
    margin-left: 40vw; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .navMenu .menu {
        display: block;
        margin-left: 4vw; } }
    @media screen and (max-width: 768px) and (orientation: landscape) {
      .navMenu .menu {
        margin-left: 0vw;
        transform: translateX(-10vw); } }
    .navMenu .menu li {
      margin-left: 2vw; }
      @media screen and (max-width: 768px) and (orientation: portrait) {
        .navMenu .menu li {
          margin-top: 15vh; } }
      .navMenu .menu li a {
        text-align: center;
        text-decoration: none;
        color: black;
        font-family: "Gugi";
        font-size: 1.8em;
        padding: 2vh; }
        @media screen and (max-width: 768px) and (orientation: landscape) {
          .navMenu .menu li a {
            font-size: 1.3em; } }
    .navMenu .menu #flux {
      transform: translateY(-2vh); }
      @media screen and (max-width: 768px) and (orientation: landscape) {
        .navMenu .menu #flux {
          margin-top: 0vh;
          transform: translateY(-2vh); } }

@media screen and (max-width: 768px) and (orientation: portrait) {
  .show {
    transform: translateX(-20vw); } }

.main {
  z-index: 0;
  height: 90vh;
  width: 100vw;
  margin-top: 10vh;
  background-image: linear-gradient(180deg, black 0%, transparent 100%), url("../pics/backgroundmin.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: #83D6CC; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .main {
      overflow: scroll; } }
  .main h2 {
    margin-top: 30vh;
    margin-left: 25vw;
    font-family: "Roboto Mono";
    font-weight: bold;
    font-size: 5em; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .main h2 {
        font-size: 2em;
        margin-left: 12vw; } }
    @media screen and (max-width: 768px) and (orientation: landscape) {
      .main h2 {
        font-size: 2em;
        margin-left: 18vw; } }
  .main h4 {
    font-family: "Roboto Mono";
    font-weight: bold;
    font-size: 2em;
    margin-left: 30vw; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .main h4 {
        font-size: 1em;
        margin-left: 12vw;
        margin-top: 10vh; } }
    @media screen and (max-width: 768px) and (orientation: landscape) {
      .main h4 {
        margin-left: 18vw;
        width: 60vw; } }

main {
  z-index: 0;
  margin-top: 13vh;
  width: 100vw;
  height: 87vh;
  background-image: linear-gradient(180deg, black 0%, transparent 100%), url("../pics/backgroundmin.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: #83D6CC; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    main {
      margin-top: 10vh;
      height: 90vh;
      overflow: scroll; } }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    main {
      overflow: scroll; } }
  main h2 {
    margin: auto;
    font-family: "Roboto Mono";
    font-size: 6vh;
    text-align: center;
    margin-top: 6vh;
    text-decoration: underline; }
  main .content {
    display: flex; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      main .content {
        display: block; } }
    main .content .left {
      background-color: rgba(0, 0, 0, 0.65);
      margin: auto;
      padding: 2vh 2vw;
      margin-top: 5vh;
      width: 30vw;
      font-family: "Roboto Mono"; }
      @media screen and (max-width: 768px) and (orientation: portrait) {
        main .content .left {
          width: 80vw; } }
      main .content .left h3 {
        font-size: 4vh;
        font-weight: bold; }
        @media screen and (max-width: 768px) and (orientation: landscape) {
          main .content .left h3 {
            font-size: 8vh; } }
      main .content .left p {
        font-size: 1.5vh;
        font-style: italic;
        margin-top: 1.5vh;
        line-height: 3vh; }
        @media screen and (max-width: 768px) and (orientation: portrait) {
          main .content .left p {
            font-size: 2vh;
            line-height: 4vh;
            text-align: justify; } }
        @media screen and (max-width: 768px) and (orientation: landscape) {
          main .content .left p {
            font-size: 3vh; } }
    main .content .right {
      background-color: rgba(0, 0, 0, 0.65);
      margin: auto;
      padding: 2vh 2vw;
      margin-top: 5vh;
      width: 30vw;
      font-family: "Roboto Mono"; }
      @media screen and (max-width: 768px) and (orientation: portrait) {
        main .content .right {
          width: 80vw; } }
      main .content .right h3 {
        font-size: 4vh;
        font-weight: bold; }
        @media screen and (max-width: 768px) and (orientation: landscape) {
          main .content .right h3 {
            font-size: 8vh; } }
      main .content .right ul li {
        font-size: 1.5vh;
        font-style: italic;
        margin-top: 1.5vh;
        line-height: 3vh; }
        @media screen and (max-width: 768px) and (orientation: portrait) {
          main .content .right ul li {
            font-size: 2vh;
            line-height: 5vh; } }
        @media screen and (max-width: 768px) and (orientation: landscape) {
          main .content .right ul li {
            font-size: 3vh;
            line-height: 6vh; } }
        main .content .right ul li a {
          font-style: normal;
          border: 1px solid #1E1E1F;
          background-color: #A89B95;
          padding: 0.7vh 0.3vw;
          text-decoration: none;
          color: #E8E3D3;
          border-radius: 1vh; }
          @media screen and (max-width: 768px) {
            main .content .right ul li a {
              background: none;
              border: none;
              color: #E8E3D3;
              text-decoration: underline; } }
          main .content .right ul li a:hover {
            background-color: #E8E3D3;
            color: #1E1E1F; }
            @media screen and (max-width: 768px) and (orientation: portrait) {
              main .content .right ul li a:hover {
                background: none;
                color: #A89B95; } }

.form {
  margin-top: 13vh;
  width: 100vw;
  height: 87vh;
  background-image: linear-gradient(180deg, black 0%, transparent 100%), url("../pics/backgroundmin.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: #83D6CC;
  display: flex;
  font-family: "Roboto Mono"; }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    .form {
      overflow: scroll; } }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .form {
      margin-top: 10vh;
      height: 90vh;
      overflow: scroll;
      display: block; } }
  .form .log {
    background-color: rgba(0, 0, 0, 0.65);
    padding: 3vh;
    margin: 15vh auto auto 4vw;
    width: 30%;
    text-align: center; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .form .log {
        width: 70%; } }
    .form .log h3 {
      font-size: 4vh;
      font-weight: bold;
      text-decoration: underline;
      margin-bottom: 6vh; }
    .form .log .advertise {
      margin-bottom: 5vh; }
    .form .log input {
      margin-top: 1.5vh;
      margin-bottom: 1.5vh; }
  .form .sign {
    background-color: rgba(0, 0, 0, 0.65);
    padding: 3vh;
    margin: 15vh auto auto 14vw;
    width: 40%;
    text-align: center; }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      .form .sign {
        width: 70%;
        margin-bottom: 2vh; } }
    .form .sign h3 {
      font-size: 4vh;
      font-weight: bold;
      text-decoration: underline;
      margin-bottom: 10vh; }
      @media screen and (max-width: 768px) and (orientation: portrait) {
        .form .sign h3 {
          margin-bottom: 5vh; } }
    .form .sign input {
      margin-top: 1.5vh;
      margin-bottom: 1.5vh; }

footer {
  height: 10vh;
  position: fixed;
  top: 90vh; }

#burgerButton {
  display: none; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    #burgerButton {
      display: block;
      width: 16vw;
      height: 9vh;
      border-radius: 50%;
      background-color: #49515C;
      position: fixed;
      top: 12vh;
      left: 3vw;
      z-index: 10000; } }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    #burgerButton #lign1 {
      background-color: #E5CFCF;
      height: 0.7vh;
      width: 8vw;
      margin-top: 3vh;
      margin-left: 4vw; } }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    #burgerButton #lign2 {
      background-color: #E5CFCF;
      height: 0.7vh;
      width: 8vw;
      margin-top: 0.5vh;
      margin-left: 4vw; } }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    #burgerButton #lign3 {
      background-color: #E5CFCF;
      height: 0.7vh;
      width: 8vw;
      margin-top: 0.5vh;
      margin-left: 4vw; } }

#imageHead {
  background-image: url("../pics/face.jpg");
  height: 20vh;
  width: 10vw;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 45vw;
  margin-top: 5vh; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    #imageHead {
      width: 20vh;
      margin-left: 35vw; } }

@media screen and (max-width: 768px) and (orientation: portrait) {
  .buttonMove {
    transform: translateX(50vw); } }

.sp-container {
  margin-top: 13.5vh;
  position: fixed;
  width: 100vw;
  height: 86.5vh;
  z-index: 0;
  background-image: linear-gradient(180deg, black 0%, transparent 100%), url("../pics/backgroundmin.png");
  background-size: cover; }
  .sp-container .sp-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0; }
    .sp-container .sp-content h2 {
      position: absolute;
      top: 25%;
      line-height: 18vh;
      height: 4vh;
      margin-top: -3vh;
      font-size: 9em;
      width: 100%;
      text-align: center;
      color: transparent;
      animation: blurFadeInOut 3s ease-in backwards; }
      @media screen and (max-width: 768px) and (orientation: portrait) {
        .sp-container .sp-content h2 {
          font-size: 3em; } }
      @media screen and (max-width: 768px) and (orientation: landscape) {
        .sp-container .sp-content h2 {
          font-size: 3em; } }
    .sp-container .sp-content .frame-1 {
      animation-delay: 0s; }
    .sp-container .sp-content .frame-2 {
      animation-delay: 3s; }
    .sp-container .sp-content .frame-3 {
      animation-delay: 6s; }
    .sp-container .sp-content .frame-4 {
      animation-delay: 9s; }
    .sp-container .sp-content .frame-5 {
      animation: none;
      text-shadow: 0 0 1px #fff; }
    .sp-container .sp-content .frame-5 span {
      animation: blurFadeIn 3s ease-in 12s backwards;
      color: transparent;
      text-shadow: 0 0 1px #fff; }
      .sp-container .sp-content .frame-5 span:nth-child(2) {
        animation-delay: 13s; }
      .sp-container .sp-content .frame-5 span:nth-child(3) {
        animation-delay: 14s; }
    .sp-container .sp-content .sp-globe {
      position: absolute;
      width: 282px;
      height: 273px;
      left: 50%;
      top: 50%;
      margin: -173px 0 0 -141px;
      animation: fadeInBack 3.6s linear 14s backwards;
      filter: alpha(opacity=30);
      opacity: 0.3;
      transform: scale(5); }
    .sp-container .sp-content .sp-circle-link {
      position: absolute;
      left: 50%;
      top: 60vh;
      bottom: 100px;
      margin-left: -50px;
      text-align: center;
      line-height: 10vh;
      width: 100px;
      height: 100px;
      background: #fff;
      color: #3f1616;
      font-size: 2em;
      border-radius: 50%;
      animation: fadeInRotate 1s linear 16s backwards;
      transform: scale(1) rotate(0deg); }
      @media screen and (max-width: 768px) and (orientation: portrait) {
        .sp-container .sp-content .sp-circle-link {
          width: 20vw;
          height: 11.5vh;
          margin-top: 10vh; } }
      @media screen and (max-width: 768px) and (orientation: landscape) {
        .sp-container .sp-content .sp-circle-link {
          line-height: 22vh; } }
      .sp-container .sp-content .sp-circle-link:hover {
        background: #85373b;
        color: #fff; }

/*# sourceMappingURL=style.css.map */
